---
import { getPost } from '../api/data'
import { marked } from 'marked'

import Layout from '../../layouts/Layout.astro';
import Blog from '../../components/Blog.astro';

const { blog } = Astro.params;

const response = await getPost(blog)
const data = await response.json()

if (!data.id) {
	return Astro.redirect('/404')
}

const title = data.title
const content = marked.parse(data.content)
---

<Layout title={title}>
	<div class="nav">
		<button class="edit">edit</button>
		<form class="delete-form" action="/api/delete" method="post">
			<input type="hidden" name="id" value="">
			<button class="delete">delete</button>
		</form>
	</div>
  	<Blog content={content} />
  	<a href="/blog">Back to blog</a>
</Layout>

<script src="../../scripts/blog"></script>

<style>

	a {
		text-decoration: none;
	}

	.nav {
		display: flex;
		align-items: center;
	}

	button {
		margin-right: 10px;
	}

</style>