---
import { getPost } from '../api/data'
import { marked } from 'marked'

import Layout from '../../layouts/Layout.astro';
import Blog from '../../components/Blog.astro';

const { blog } = Astro.params;

const response = await getPost(blog)
const data = await response.json()

const title = data.title
const content = marked.parse(data.content)
---

<Layout title={title}>
  <Blog content={content} />
  <a href="/blog">Back to blog</a>
</Layout>

<style>

	a {
		text-decoration: none;
	}

</style>