---
import Layout from '../../layouts/Layout.astro';
import { marked } from 'marked'

const { blog } = Astro.params;

const response = await fetch(`http://localhost:1323/data/${blog}`)
const data = await response.json()

const title = data.title
const content = marked.parse(data.content)
---
<Layout title={title}>
  <h1>{title}</h1>
  <article set:html={content} />
  <a href="/blog">Back to blog</a>
</Layout>


<style>
	h1 {
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}

	a {
		text-decoration: none;
	}
</style>