---
---
<html lang="en">
    <head>
        <meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <title>Astro JS 404 Page</title>
    </head>

    <body>
        <main class="container">
            <section class="content">
                <h1>Page not found!</h1>
                <p>
                    Path not recognised&hellip; <a
                        aria-label="Return to home page"
                        href="/"
                        >Go&nbsp;home?
                    </a>
                </p>
            </section>
        </main>
    </body>
</html>

<style>
    .container {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}

	a {
		text-decoration: none;
		margin: 10px 0;
	}
</style>